body {
    background-color: lightgray;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

#main-container {
    display: flex;
    
}

#character-list-container,
#character-detail-container {
    background-color: white;
    
    width: 50%;
    border: 1px black solid;
    margin: 5px;
   

}
#character-list-container {
    display: flex;
    flex-direction: column;

}

.list-item-container {
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.list-item-container:hover {
    background-color: lightgray;
}
.list-item-fullname {
    text-align: left;
    width: 70%;
}
.list-item.avatar {
    width: 30%;
}
.list-item-avatar > img {
    width: 30px;
    height: 30px;
}
.table-label {
    text-align: right;
    font-size: 10px;
    display: none;
}
#char-image {
    width: 200px;
    height: 200px;
}


