

#container {
    position: absolute;
    left: 100px;

}

#collectors, #collector {
    left: 50px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#back {
    padding-top: 40px;
}

td {
    padding: 3px;
}