#container {
    margin-left: auto;
    margin-right: auto;

}

#collectors, #collector {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#back {
    padding-top: 40px;
}

td {
    padding: 3px;
}