*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(6, 88, 116);
 
}

.box {
    position: absolute;
    background-color: lightblue;
    height: 600px;
    width: 750px;
    left: 600px;
    top: 180px;
    border-radius: 20%;
    
  
}

.input {
    text-align: center;
    margin: 100px 0;
}

input[type="text"] {
    height: 50px;
    width: 600px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
}

input[type="submit"] {

    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;

}

.display {
    position: relative;
    text-align: center;
    margin: 10px;
    top: 150px;

}

.desc {
    font-size: 150%;
    margin: 5px;
}

.temp {
    font-size: 150%;
}
.sorry {
    margin: 30px;
    font-weight: bold;

}
.start {
    font-size: larger;
    font-weight: bold;

}