#green {
    color: green;


}

.red {
    color: red;


}
a {
    text-decoration: none;
}
#myText {
    color: blue;

}
.dot {
    position:relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-left: 15px;
   
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
  
