*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 300px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 300px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
#container {
    background-color: #ffffff;
    position: absolute;
    top: 220px;
    left: 100px;
    border-radius: 5%;
    width: 1000px;
   

}

#collectors, #collector {
    left: 50px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {

    padding: 10px 50px;
    color: black;
    background-color: #0082e6;
    border-style:ridge;
    max-width: 400px;
    
}

tr {
    max-width: 250px;
}



#name{
    position:absolute;
    top:-120px;
    left: 710px;
}

#speedChart {
    top: 250px;
    position:absolute;
    left: 1100px;
}
 #tempChart{
    top: 250px;
    position:absolute;
    left: 1100px;
}
#valueChart{
    top: 250px;
    position:absolute;
    left: 1100px;
}
#timespan{

    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 600px;
    top: 250px;
    padding-left: 100px;
    padding-right: 50px;
}

#timespanSelect{
    padding: 8px 12px;
    background-color: rgb(230, 217, 217);
    border: 1px solid #0082e6;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    font-size: large;

}

#timespanSelect:focus,
#timespanSelect:hover {
    outline: none;
    border: 3px solid #0082e6;
}

h3 {
    padding: 10px;
}


#valueSelect{
    padding: 8px 12px;
    background-color: rgb(230, 217, 217);
    border: 1px solid #0082e6;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    font-size: large;

}

#valueSelect:focus,
#valueSelect:hover {
    outline: none;
    border: 3px solid #0082e6;
}

#value{

    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 600px;
    top: 480px;
    padding-left: 100px;
    padding-right: 50px;
}

#tellDate{
    position:absolute;
    top: -50px;
    left: 30px;
}

#tellValue{
    position: absolute;
    top: -50px;
    left: 370px;
}



